.listingContent{
  width: 100%;
  min-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftPanel-withDetails{
  margin-left: 16px;
  width: 60%;
  height: 100%;
}

.leftPanel-noDetails{
  margin-left: 16px;
  width: 100%;
  height: 100%;
}

.rightPanel{
  width: calc(10% - 16px);
  min-width: 50px;
  height: 100%;
}

.scrollTopIcon{
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 2px solid black;
  background-color: #f0c14b;
}

.individualListingContent{
  display: flex;
  flex-direction: row;
}

.listingImageArea{
  width: 200px;
  height: 150px;
  margin-right: 10px;
}

.listingTextAndIcon{
  width: calc(100% - 200px - 10px);
  height: 100%;
}

.listingHeader{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.listingTitle{
  font-size: 26px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listingIconNumber{
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  width: 50px;
  font-weight: 500;
}

.listingIconNumber>
.MuiSvgIcon-root.listingIcon.MuiSvgIcon-fontSizeLarge{
  margin: auto;
}

.listingPrice{
  height: 100%;
  width: 80px;
  font-size: 26px;
  font-weight: 700;
  color: green;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listingIcon{
  margin-left: 2px;
  margin-right: 2px;
}

.listingIconGroup{
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float:right;
}

.listingDescription{
  font-size: 16px;
  display: -webkit-box;
  max-width: 100%;
  height: 76px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}

.paginationArea{
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
}

.paginationSelect{
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paginationPageIndication{
  height: 100%;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
