.listingFullDescription{
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.625;
}

.listingIconText{
  margin-right: 5px;
  font-size: larger;
  font-weight: 300;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
}

.listingPriceText{
  margin-left: 16px;
  font-size: 28px;
  font-weight: 400;
  color: green;
}

.sectionPadding{
  margin-top: 4px;
  margin-bottom: 4px;
}

.questionQnA{
  font-size: 17px;
  margin-left: 14px;
  font-weight: 500;
}

.answerQnA{
  font-size: 15px;
  margin-left: 28px;
  font-weight: 450;
}

.landlordText{
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
}

.userText{
  font-size: 12px;
  font-weight: 450;
  margin-top: 4px;
}

.listingDetailHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.firstLine{
  margin-left: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondLine{
  margin-left: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listingdetail-textContent{
  margin-left: 16px;
  margin-right: 16px;
}

.listingDetailImageUploader{
  width: calc(100% - 22px);
  margin-left: 6px;
  margin-right: 16px;
}

.listingDetail-updateSection{
  margin: 16px;
  width: 100%;
}

.detailListing-QnA-Comment-of-Questions{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin: 20px;
}
